<aside class="article">
    <header>
        <h2 class="cursor article-title"><p>{{article.title}}</p></h2>
        <div class="article-meta">
            <div class="article-time cursor">
                <i class="fa fa-calendar"></i>{{article.time}}
            </div>
            <div class="article-time cursor">
                <i class="fa fa-tag"></i>{{article.category}}
            </div>
        </div>
    </header>

    <div class="article-entry">
        <p>{{article.content}}
        </p>
        <div class="article-more">
            <a>Read More</a>
        </div>
    </div>

    <footer class="article-footer">
      <a class="article-Share-link article-link">Share</a>
      <a class="article-comment-link article-link">Comment</a>
    </footer>
</aside>

