
body {
  font-family: "Microsoft yahei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #f7f7f7;
  position: relative;
  margin: 0px;
  font-size: 13px;
  padding: 0px;
  /*-webkit-font-smoothing: antialiased;*/
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: inherit;
  color: #29323d;
}
h1 small, h2 small, h3 small, h4 small, h5 small {
  margin-left: 15px;
  font-style: italic;
}

body.menu {
  overflow-x: hidden;
}
body.menu .content {
  margin-left: 165px;
  position: fixed;
  width: 850px;
}
body.menu #sidebar-nav {
  position: absolute;
  left: 0;
  /*height: 100%;*/
  border-right: 0px;
  box-shadow: none;
}

.header {
  margin-bottom: 60px;
}
.header h1, .header h2, .header h3, .header h4, .header h5 {
  float: left;
  margin-top: 5px;
}



/*header*/
#sidebar-nav {
  position: absolute;
  width: 180px;
  float: left;
  margin: 0em;
  /*padding-top: 5.8em;*/
}
#sidebar-nav #dashboard-menu {
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  margin-left: 20px;
  /* sidebar submenus */
}
#sidebar-nav #dashboard-menu > li > a {
  display: block;
  padding: 19px 14px 15px 14px;
  margin-left: -15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #dae1e8;
  box-shadow: 0 2px 1px -1px #FFFFFF;
  color: #6e829b;
  outline: 0px;
  line-height: 21px;
}
#sidebar-nav #dashboard-menu > li {
  position: relative;
  /* font awesome icon */
}
#sidebar-nav #dashboard-menu > li .icon-group {
  font-size: 22px;
}
#sidebar-nav #dashboard-menu > li i {
  font-size: 23px;
  top: 17px;
}
#sidebar-nav #dashboard-menu > li:hover i {
  opacity: 1;
}
#sidebar-nav #dashboard-menu > li.active > a,
#sidebar-nav #dashboard-menu > li > a:hover {
  color: #33455a;
  text-decoration: none;
}
#sidebar-nav #dashboard-menu > li.active a {
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
}
#sidebar-nav #dashboard-menu > li.active i {
  opacity: 1;
}
#sidebar-nav #dashboard-menu .pointer {
  position: absolute;
  right: 9px;
  top: 20px;
}
#sidebar-nav #dashboard-menu .pointer .arrow,
#sidebar-nav #dashboard-menu .pointer .arrow_border {
  border-color: transparent #fff transparent transparent;
  border-width: 11px;
  border-style: solid;
  font-size: 0;
  left: 50%;
  line-height: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1002;
  left: 0;
  margin-left: 45%;
}
#sidebar-nav #dashboard-menu .pointer .arrow_border {
  border-color: transparent #c0d2dd transparent transparent;
  border-width: 11px;
  margin-left: -1px;
  border-style: solid;
  z-index: 1001;
  top: 0px;
}
#sidebar-nav #dashboard-menu a span {
  margin-left: 35px;
  transition: color .1s linear;
  -moz-transition: color .1s linear;
  -webkit-transition: color .1s linear;
  -o-transition: color .1s linear;
}
#sidebar-nav #dashboard-menu a.ui-elements span {
  margin-left: 25px;
}
#sidebar-nav #dashboard-menu a i {
  position: absolute;
  left: 0;
  height: 24px;
  width: 24px;
  opacity: 0.7;
  transition: opacity .1s ease;
  -moz-transition: opacity .1s ease;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
}
#sidebar-nav #dashboard-menu a i.icon-chevron-down {
  position: relative;
  float: right;
  top: 5px;
  font-size: 11px;
  color: #686868;
  width: initial;
  height: initial;
}
#sidebar-nav #dashboard-menu > li.active .dropdown-toggle {
  border-bottom: 0px;
  box-shadow: none;
}
#collapseExample li{
    list-style-type: none;
    margin-left: -5px;
    margin-top:5px;
}

/*#sidebar-nav #dashboard-menu ul.submenu.active {
  display: block;
}*/
.active{
    background: lightgoldenrodyellow;
}
#sidebar-nav #dashboard-menu ul.submenu a {
  font-weight: normal;
  font-size: 13px;
  color: #4c535a;
  text-decoration: none;
  display: block;
  margin-bottom: 7px;
}
#sidebar-nav #dashboard-menu ul.submenu a:hover {
  text-decoration: underline;
}
#sidebar-nav #dashboard-menu ul.submenu a.active {
  font-weight: bold;
  text-shadow: none;
}

.content {
  min-width: 400px;
  min-height: 620px;
  margin-bottom: 100px;
  padding: 20px 20px 50px 20px;
  overflow: hidden;
  position: relative;
  background: #fff;
  margin-left: 177px;
  border-left: 1px solid #dae3e9;
  border-bottom: 1px solid #dae3e9;
  box-shadow: -3px 3px 3px -2px #f1f1f3;
  border-radius: 0px 0px 0px 5px;
  -webkit-transition: margin-left .3s ease;
  -moz-transition: margin-left .3s ease;
  -o-transition: margin-left .3s ease;
  -ms-transition: margin-left .3s ease;
  transition: margin-left .3s ease;
  /* starts skins changer */
  /* end skin changer*/
}

@media (max-width: 768px) {
  .content {
    min-width: 0px;
    margin: 0;
  }
  #dashboard-menu .pointer {
    display: none;
  }
  #sidebar-nav {
    left: -200px;
    position: fixed;
    z-index: 9999;
    background-color: #f7f7f7;
    padding-top: 0px;
    border-right: 1px solid #ccc;
    width: 165px;
    box-shadow: 1px 1px 4px 1px #e9e9e9;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -o-transition: left .3s ease;
    -ms-transition: left .3s ease;
    transition: left .3s ease;
  }
}
.navbar-inverse {
	min-height: 48px;
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #191e23;
	background: #2c3742; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c3742 0%, #28303a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c3742), color-stop(100%,#28303a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c3742 0%,#28303a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c3742 0%,#28303a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c3742 0%,#28303a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c3742 0%,#28303a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3742', endColorstr='#28303a',GradientType=0 ); /* IE6-9 */
}
.panel-heading {
    background-color: #f6f8f8;
}
.panel-default{
  border-color: #dee5e7;
}
.font-bold {
    font-weight: 700;
}
.m-b-sm {
    margin-bottom: 10px;
}

.w-xs {
    width: 90px;
    text-align: right;
}
.m-t-xs {
    margin-top: 5px;
}
label {
    font-weight: normal;
}


/*************************************************
****                表单验证样式                ****
/**************************************************/
.ng-valid[required], 
.ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


/*图标按钮样式*/
.btn-addon i {
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    margin: -7px -12px;
    margin-right: 12px;
    line-height: 34px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px 0 0 2px;
}

.btn-addon i.pull-right {
    margin-right: -12px;
    margin-left: 12px;
    border-radius: 0 2px 2px 0;
}

.btn-addon.btn-sm i {
    width: 30px;
    height: 30px;
    margin: -6px -10px;
    margin-right: 10px;
    line-height: 30px;
}

.btn-addon.btn-sm i.pull-right {
    margin-right: -10px;
    margin-left: 10px;
}

.btn-addon.btn-lg i {
    width: 45px;
    height: 45px;
    margin: -11px -16px;
    margin-right: 16px;
    line-height: 45px;
}

.btn-addon.btn-lg i.pull-right {
    margin-right: -16px;
    margin-left: 16px;
}

.btn-addon.btn-default i {
    background-color: transparent;
    border-right: 1px solid #dee5e7;
}