.article{
  padding: 40px;
  margin-bottom: 40px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  display: block;
}

.article-meta{
   height: 22px;
   line-height: 1.6em;
}

.article-meta > div{
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.article-meta > div .fa {
  margin-right: 5px;
}
.article-title{
  font-size: 2em;
  color: #565a5f;
  text-decoration: none;
  line-height: 1.3em;
  margin-bottom: 14px;
}
.article-title p:hover{
     color: #38b7ea;
}


.article-entry{
  color: #565a5f;
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry p{
    text-align: justify;
}
.article-more{
    line-height: 1.6em;
    margin: 1.6em 0;
}
.article-more a{
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #f5f8f9;
  color: #999;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}

.article-more a:hover {
  background: #38b7ea;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #169cd2;
}


.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 1px solid #eceff2;
  padding-top: 1.6em;
  margin: 0 0px 5px;
}
.article-link{
    float: right;
    margin-left: 20px;
    color: #999;
    cursor: pointer;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 5px;
}

.article-comment-link:hover {
  color: #000;
}

.article-Share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 5px;
}

.article-Share-link:hover {
  color: #000;
}

/*页码样式*/
.page-nav{
  margin: 0px auto 20px auto;
  text-align: center;
  color: #999;
  overflow: hidden;
}
.page-nav a,
.page-nav span {
  height: 32px;
  padding: 0 10px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.page-nav a:hover {
  color: #fff;
  background: #38b7ea;
}